<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Contact the Team</h2>
        <p>EthosLabs was founded by Abhi Nemani and Bob Sofman, both of whom have deep experience in the civic tech space: from co-leading a civic tech non-profit (Code for America), to leadership roles in government (Los Angeles, Sacramento) and civic startups (SmartProcure, GovDelivery). In their time at CfA, they created and ran CfA’s startup program and mentored 12 civic tech startups — all of which are still gaining traction and two of which have since been acquired. They also oversaw the deployment of civic technology in over 100 cities and hosted numerous events — including 4 CfA Summits — engaging key players throughout the civic tech landscape.</p>
		<p>Use the form below to get in touch if you'd like to get involved.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
		<a name="contact"></a>
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			#mc-embedded-subscribe {margin: 0; width: 100%;}
		</style>
		
	<form action="https://ethoslabs.us13.list-manage.com/subscribe/post?u=cc1378cc12a4ff45cb4132fe9&amp;id=a7ca99af80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class='medium-6 large-6 columns'>
        <input placeholder='FIRST NAME' type='text'  value="" name="FNAME" class="" id="mce-FNAME">
        <input placeholder='LAST NAME' type='text'  value="" name="LNAME" class="" id="mce-LNAME">
        <input placeholder='EMAIL' type='text' type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	  	<input placeholder='ORGANIZATION' type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5" >
		
      </div>
      <div class='medium-6 large-6 columns'>
	  	<input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4" placeholder="City, State">
        <textarea placeholder='MESSAGE' name="MMERGE6" class="" id="mce-MMERGE6" ></textarea>
        <input class='button white' type='submit' value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cc1378cc12a4ff45cb4132fe9_a7ca99af80" tabindex="-1" value=""></div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
      </div>
  	</form>
    </div>
  </div>
</div>

<!-- Begin MailChimp Signup Form -->


   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

