<div class='full white centered-text'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Building the GovTech Ecosystem</h2>
      <p>State and local governments in the US spend nearly $100B on technology every year; all the while, 99% of government technology projects fail, wasting taxpayer dollars and undermining crucuial service delivery.<b>This has to change. And it's starting to.</b></p>
	  <p>A marketplace of new govtech startups is emerging, eager to change the way government works, using principles of the modern web: open, collaborative, and an ethos of constant improvement. <b>Led by a team of experienced public servants and entrepreneurs, EthosLabs is a new company built to connect the dots between governments looking to do things differently, and startups ready to serve.</b></p>
	  </p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    {% for why in site.data.whys %}
      {% if include.shape %}
        {% assign shape = include.shape %}
      {% else %}
        {% assign shape = "boxed" %}
      {% endif %}
      <div class='medium-3 large-3 columns icon-text-{{shape}}'>
        <i class='icon-{{ why.icon }}'></i>
        <h3>{{ why.title }}</h3>
        <p>{{ why.desc }}</p>
      </div>
    {% endfor %}
  </div>
</div>